@config '../../../tailwind.config.ts';
@import '@fontsource-variable/open-sans';
@import 'tailwindcss';
@import './fonts.css';

@utility stripes-* {
	background-image: linear-gradient(135deg, transparent 25%, --value(--color-*) 25%, --value(--color-*) 50%, transparent 50%, transparent 75%, --value(--color-*) 75%, --value(--color-*) 100%);
	background-size: 80px 80px;
}

@theme {
	--animate-fade-in: fade-in 150ms ease-out;
	--animate-fade-in-scale: fade-in-scale 150ms ease-out;

	@keyframes fade-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes fade-in-scale {
		0% {
			opacity: 0;
			transform: scale(0.95);
		}

		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
}

:root {
	color-scheme: dark;
}

* {
	@apply outline-none;
}

body {
	@apply relative;
	@apply select-none;
	@apply bg-gray-900;
	@apply overflow-hidden;
}

button {
	@apply cursor-pointer;
}
